.button-container {
  width: 100%;
  position: relative;

  .btn {
    width: fit-content;
    font-family: RobotoMedium;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    width: 100%;
    padding: .5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
  }

  .primary-btn {
    color: white;
    background-color: var(--primaryColor);
  }

   .primary-btn:hover {
     background-color: #fff;
     color: var(--primaryColor);
     border: .1rem solid var(--primaryColor);
     box-shadow: 0rem .3rem .6rem var(--boxShadow);
   }


  .outline-primary-btn {
    border: .1rem solid var(--primaryColor);
    background: #FFFFFF;
    color: var(--primaryColor);
  }

  .outline-primary-btn:hover {
    box-shadow: 0rem .3rem .6rem var(--boxShadow)
  }
}