.dashboard {
  .your-highlight {
    color: #566A7F;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }

  .left-part-page {
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  .community-container {
    height: calc(100vh - (var(--header-height) + (2 * 1.2rem)) - 1.2rem);
    overflow: auto;
  }
}

@media only screen and (max-width: 900px) {
  .dashboard {
    .dashboard-inner {
      flex-direction: column;

      .left-part-page {
        margin-right: 0;
      }
    }

    .community-container {
      height: 100%;
      margin-top: 2rem;
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }
}