.frame {
  .children {
    position: relative;
    left: calc(var(--navigation-width) + 2 * var(--navigation-padding));
    top: calc(var(--header-height) + (2 * 1.2rem));
    width: calc(100% - var(--navigation-width) - 2 * var(--navigation-padding) - 2.6rem);
    overflow: auto;
  }

  .children-no-nav {
    left: calc(3rem + 2 * var(--navigation-padding));
    width: calc(100% - 3rem - 2 * var(--navigation-padding) - 2.6rem);
  }
}

@media only screen and (max-width: 900px) {
  .frame {
    .children {
      width: calc(100% - var(--navigation-width) - var(--navigation-padding));
    }

    .children-no-nav {
      width: calc(100% - 3rem - var(--navigation-padding));
    }

    .children {
      width: calc(100% - 3rem - var(--navigation-padding));
      left: calc(3rem + 2 * var(--navigation-padding));

    }
  }
}