.header {
  position: absolute;
  left: calc(var(--navigation-width) + 2 * var(--navigation-padding));
  // margin-left: 2.6rem;
  height: var(--header-height);
  width: calc(100% - var(--navigation-width) - 2 * var(--navigation-padding) - 5.2rem);
  background: #FFFFFF;
  margin-top: 1.2rem;
  border-radius: 0.8rem;

  .header-row {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .header-left-part {
    .header-search {
      height: 3rem;
      width: 34rem;
      margin-left: 2rem;
      border: none;
      outline: none;
    }
  }

  .header-right-part {
    display: flex;

    .icons-header
    {
      margin-right: 2rem;
    }

    .profile-container {
      height: 3.4rem;
      width: 3.6rem;
      border-radius: 50%;
      background: #C3C4FF;
    }
  }
}