.header,
.header-no-nav {
  position: absolute;
  left: calc(var(--navigation-width) + 2 * var(--navigation-padding));
  height: var(--header-height);
  width: calc(100% - var(--navigation-width) - 2 * var(--navigation-padding) - 2.6rem);
  background: #FFFFFF;
  margin-top: 1.2rem;
  border-radius: 0.8rem;

  .header-row {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .header-left-part {
    .header-search {
      height: 3rem;
      width: 34rem;
      margin-left: 2rem;
      border: none;
      outline: none;
    }
  }

  .header-right-part {
    display: flex;

    .notification-container {
      position: absolute;
      height: 2rem;
      border-radius: 50%;
      width: 2rem;
      background: #FF3E1D;
      right: 0.6rem;
      top: 0;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .icons-header {
      margin-right: 2rem;
    }

    .profile-container {
      height: 3.4rem;
      width: 3.6rem;
      border-radius: 50%;
      background: #C3C4FF;
    }
  }
}

.header-no-nav {
  left: calc(3rem );
  width: calc(100% - 3rem - 2 * var(--navigation-padding));

}

@media only screen and (max-width: 900px) {

  .header,
  .header-no-nav {
    left: calc(3rem);
    width: calc(100% - 3rem - 2 * var(--navigation-padding));

    .header-right-part {
      display: none;
    }

    .header-left-part {
      .header-search {
        width: 100%;
      }
    }
  }
}