.user-post {
  height: auto;
  width: 100%;
  // margin: 10px;
  background: #ffffff;
  border-radius: 0.8rem;
  display: flex;
  width: 100%;

  .user-post-inner {
    width: 100%;
    margin: 2rem;

    .post-user-detail-container {
      display: flex;
      // padding: 2rem;

      .profile-container {
        height: 4.3rem;
        width: 4.6rem;
        border-radius: 50%;
        background: #C3C4FF;
      }

      .top,
      .bottom {
        display: flex;
        align-items: center;
      }

      .bottom {
        margin-top: 0.8rem;
      }

      .tag-container {
        display: flex;

        .tag {
          height: 1.4rem;
          width: auto;
          padding: 0.4rem 0.6rem;
          border-radius: 0.4rem;
          background: #E1F7FE;
          font-size: 1rem;
          color: #0354A6;
          margin-right: 1rem;
        }

      }

      .time {
        margin-right: 1rem;
      }

      .user-info-container {
        margin-left: 1rem;

        .username {
          font-size: 1.4rem;
          color: #4A4A4A;
          margin-right: 1rem;
          margin-left: 1rem;
        }

        .dot {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          background: #566A7F;
          margin-right: 1rem;
        }

        .desigination {
          font-size: 1.4rem;
          color: #566A7F;
        }
      }
    }

    .post-text-container {
      font-size: 1.4rem;
      color: #A1ACB8;
      margin-top: 1rem;
    }

    .post-reaction-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;

      .chat-icon-container {
        span {
          margin-left: 0.4rem;
        }
      }

      .reactions {
        display: flex;
      }

      .reaction {
        width: auto;
        padding: 0.5rem 1rem;
        background: #fbf1f1;
        border-radius: 1.2rem;
        margin-right: 1rem;
      }
    }

    .horizontal {
      width: 100%;
      height: 0.1rem;
      background: #EAEEF2;
      margin-top: 1rem;
    }

    .thoughts-container {
      margin-top: 2rem;
    }

    .comments-container {
      margin-top: 2rem;
    }
  }

}