:root {
  --navigation-width: 26rem;
  --navigation-padding: 1.5rem;
  --primaryColor: #5EADA8;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F2F3F4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
  font-size: 10px;
}

//COMMON
.d-flex {
  display: flex;
}

.m-l-1 {
  margin-left: 1rem;
}

.width-100 {
  width: 100%;
}

.d-none {
  display: none !important;
}

.d-flex-space-btw {
  display: flex;
  justify-content: space-between;
}

.d-flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-a-c {
  display: flex;
  align-items: center;
}